<h1> Liquors </h1>

<% @liquors.each do |liquor| %>
    <p> Name: <%= liquor.name %>
    <br> Distillery: <%= liquor.distillery_name %>
    <br> Age: <%= liquor.age %> 
    <br>Grain alcohol?: <%= liquor.has_grain %>
    </p>
<% end %>