<h1> Distillery Details </h1>

<p> Name: <%= @liquor_distillery.name %>
<br> Total Number of Distilleries: <%= @liquor_distillery.total_distilleries %>
<br> Makes Bourbon: <%= @liquor_distillery.has_bourbon %> </p>